/* colors
dark: #1C1C1C

GRAY SHADE
gray:#505050
light gray: #8B96A5
lighter gray: #BDC4CD
very light gray: #DEE2E7
very very light gray: #EFF2F4
last shade of gray: #F7FAFC

WHITE SHADE
shade of white: #E3F0FF

PRIMARY: BLUE: #0D6EFD
LIGHT GREEN: #C3FFCB
GREEN: #00B517
GOLD:#FFE5BF
ORANGE: #FF9017
RED: #FA3434


*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body {
    color: #1c1c1c;
    line-height: 1;
    background-color: #dadada;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}


/* HEADER AND NAVBAR */

header, .navbar {
    background-color: #fff;
    padding: 1rem;
}

.header_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_icons {
    display: flex;
    align-items: center;
    gap: 1;
}

.header_search {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header_search input {
    width: 30rem;
    padding: 1rem;
    border-radius: 0.7rem;
    border: 1px solid #000;
    outline: none;
}

.search_btn {
    background-color: #0D6EFD;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
}

.search_btn:hover {
    background-color: #00B517;
}

.search_btn a{ 
    color: #fff;
    text-decoration: none;
}
.icons_profile {
    display: flex;
    margin: 0.7rem;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: #8B96A5;
    cursor: pointer;
}

.icon_text {
    margin-top: 1rem;
}

.icons_profile:hover{
    color: #FA3434;
}

.icons_profile:active {
    color: #00B517;
}

/* NAVBAR */
.navbar {
    border: 1px solid #DEE2E7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}



.cartegory a,
 .hot_offer a, 
 .gift a, 
 .project a, 
 .menu a, 
 .help a,
 .opts a,
 .opt2 a {
    text-decoration: none;
    color: #1c1c1c;
}

.cartegory a:hover,
 .hot_offer a:hover, 
 .gift a:hover, 
 .project a:hover, 
 .menu a:hover, 
 .help a:hover,
 .opts a:hover,
 .opt2 a:hover  {
    color: #00B517;
}

.nod {
   margin-left: 40rem;
   display: flex;
   gap: 1rem;
}

.hero-section {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    /* align-items: center; */
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
}
.hero_item {
    padding: 3rem;

}

.hero_item li{
    list-style: none;
    font-size: 1.4rem;
    color: #8B96A5;
    margin-bottom: 2.5rem;
}
.hero_item li:last-child {
    margin-bottom: 0;
}
.hero_item li:hover {
    background-color: #E5F1FF;
    padding: 0.7rem;
    border-radius: 3rem;
    text-align: center;
}


.hero_title{
    background-image: url(../img/bg-images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    height: 100%;
}

.hero_title h1 {
    font-size: 2.8rem;
    text-transform: capitalize;
    color: #1C1C1C;
    font-weight: 400;
}

.hero_title p {
    font-size: 3.2rem;
    font-weight: 700;
}

/* span {
    padding: 1rem;
    margin-top: 9rem;
    display: inline block;

} */

.hero_btn {
    display: inline-block;
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08)
}

.hero_btn:hover,
.hero_btn a:hover {
    background-color: #0D6EFD;
    color: #fff;
}

.hero_btn a {
    text-decoration: none;
    font-size: 1rem;
}

.hero_other {
    margin-left: 1rem;
    /* display: flex; */
}
.hero_signup {
    background-color: #E3F0FF;
    padding: 2rem;
}
.signup_box{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.signup_text {
    font-size: 1.1rem;
    font-weight: 400;
    color: #555555;
}

.signup_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.signup_btn a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.sign_up,
.login { 
    border-radius: 0.6rem;
}

.sign_up {
    padding: 1rem 5.8rem;
    background-color: #0D6EFD;
}

.login {
    background-color: #DEE2E7;
    padding: 1rem 7rem; 
    color: #0D6EFD !important;
   
}


.signup_info {
    margin-top: 1rem;
    background-color: #F38332;;
    padding: 2rem;
}

.signup_info h6 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #dbdada;
    line-height: 2rem;  
}

.info2{
    background-color: #55BDC4;
}

.offers,
.home_items {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #9ea0a1;
    border-right: 1px solid #9ea0a1;
    display: flex;
    /* flex-direction: row-reverse; */
}

.deal_timer {
    padding: 2rem;
}

.deal_text h4 {
    font-size: 1.6rem;
    letter-spacing: 1;
    color: #1C1C1C; 
    font-weight: 400; 
}

.deal_text p {
    color: #8B96A5;
    font-size: 1rem;
    font-weight: 400;
}


.counter{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.days,
.hours,
.mins,
.secs {
    background-color: #606060;
    padding: .5rem;
    color: #fff;
}

.counter p {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.counter span {
    display: block;
    text-align: center;
}

.item_list img{
    width: 14rem;
}

.item_list {
    text-align: center;
    border-left: 1px solid #E0E0E0;
    margin-left: 3.7rem;
}

.item_list p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #1C1C1C;
}

.item_list span {
    display: inline-block;
    background-color: #FFE3E3;
    padding: .6rem;
    border-radius: 2.9rem;
    color: #EB001B;
}

.home_items_details {
    /* background-image: linear-gradient( to right, rgba(255, 255, 255, 0.753), url(../img/bg-images/home-bg.png)); */
    background-image:
    linear-gradient(0deg, rgba(255, 232, 186, 0.4), rgba(255, 232, 186, 0.4)),
    url('../img/bg-images/home-bg.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 20rem;
}


.home_items_text {
    color: #1C1C1C;
    margin: 2rem 1rem;
}

.home_items_text h4 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2.6rem;
}

.items_btn a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1C1C1C;
}

.homes_item {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 7rem;
}

.outdoor_details {
   display: flex;
   gap: 2rem;
   
}

.homes_text {
    text-align: justify;
    margin-top: 1rem;
}

.homes_text h6 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #1C1C1C;
    text-transform: capitalize;
}

.homes_text p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #8B96A5;
}



.homes_item_1 img {
    width: 7rem;
}

.item2 {
    margin-top: 3rem;
}

.home_items_details2 {
    background-image:
    linear-gradient(0deg, rgba(255, 232, 186, 0.4), rgba(255, 232, 186, 0.4)),
    url('../img/bg-images/consumer-bg.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 20rem;
}

.home_items_details2 h4 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 2.6rem;
}


